{
  BasedOnStyle: LLVM,
  UseTab: Always,
  IndentWidth: 4,
  TabWidth: 4,
  BreakBeforeBraces: Linux,
  AllowShortIfStatementsOnASingleLine: WithoutElse,
  AllowShortLoopsOnASingleLine: true,
  AllowShortFunctionsOnASingleLine: All,
  AllowShortBlocksOnASingleLine: Always,
  BreakStringLiterals: false,
  IndentCaseLabels: false,
  ColumnLimit: 120,
  AccessModifierOffset: -4,
  NamespaceIndentation: All,
  FixNamespaceComments: true,
  AlignTrailingComments: true,
  BinPackArguments: false,
  BinPackParameters: false,
  AlignAfterOpenBracket: AlwaysBreak,
  ExperimentalAutoDetectBinPacking: false,
  AllowAllArgumentsOnNextLine: false,
  AllowAllParametersOfDeclarationOnNextLine: false,
  ReflowComments: true,
  PenaltyExcessCharacter: 1,
  AlignOperands: true,
  ContinuationIndentWidth: 8,
}
